body {
    font-family: sans-serif;
    background-color: white;
}
section {
    padding-top: 5rem;
}
.jumbotron{
    padding-top: 15rem;
    padding-bottom: 18rem;
    
}
.jumbotron img{
    margin-top: 2rem;
}
.display-6{
    margin-top: 1rem;
    color: white;
}

#layanan i {
  font-size: 5rem;
}


#portofolio {
    background-color: #2E236C;
}
.card-img-top {
    width: 100%;
    height: 15vw;
    object-fit: cover;
}
.card-body {
    height: 18rem;
}


/* Card Layanan */
.custom-cardd {
  background: linear-gradient(135deg, #f3e5f5 30%, #e1bee7 90%);
  border: none;
  border-radius: 15px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  color: #4a148c;
  height: auto; /* Ensures the card adjusts its height based on content */
  min-height: 620px;
  
}
/* For screens larger than 576px */
/* hp */
@media (min-width: 350px) {
  .custom-cardd{
    min-height: 850px;
  }
}
@media (min-width: 400px) {
  .custom-cardd{
    min-height: 830px;
  }
}
@media (min-width: 420px) {
  .custom-cardd{
    min-height: 780px;
  }
}
@media (min-width: 500px) {
  .custom-cardd{
    min-height: 700px;
  }
}
@media (min-width: 550px) {
  .custom-cardd{
    min-height: 630px;
  }
}
@media (min-width: 576px) {
  .custom-cardd{
    min-height: 650px;
  }
}
@media (min-width: 768px) {
  .custom-cardd{
    min-height: 850px;
  }
}
@media (min-width: 992px) {
  .custom-cardd{
    min-height: 730px;
  }
}

@media (min-width: 1200px) {
  .custom-cardd{
    min-height: 630px;
  }
}
.custom-card {
  background: linear-gradient(135deg, #f3e5f5 30%, #e1bee7 90%);
  border: none;
  border-radius: 15px;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.3);
  color: #4a148c;
  height: auto; /* Ensures the card adjusts its height based on content */
  min-height: 620px;
  
}
/* For screens larger than 576px */
@media (min-width: 350px) {
  .custom-card{
    min-height: 1020px;
  }
}
@media (min-width: 400px) {
  .custom-card{
    min-height: 950px;
  }
}
@media (min-width: 420px) {
  .custom-card{
    min-height: 880px;
  }
}
@media (min-width: 450px) {
  .custom-card{
    min-height: 750px;
  }
}
@media (min-width: 500px) {
  .custom-card{
    min-height: 750px;
  }
}
@media (min-width: 576px) {
  .custom-card{
    min-height: 760px;
  }
}
@media (min-width: 768px) {
  .custom-card{
    min-height: 1050px;
  }
}
@media (min-width: 992px) {
  .custom-card{
    min-height: 750px;
  }
}

@media (min-width: 1200px) {
  .custom-card{
    min-height: 750px;
  }
}
@media (min-width: 1400px) {
  .custom-card{
    min-height: 650px;
  }
}
.custom-card-title {
  font-family: 'Arial', sans-serif;
  font-weight: bold;
  color: #311b92;
}

.custom-list-item {
  background: rgba(255, 255, 255, 0.8);
  border: none;
  border-radius: 10px;
  margin-bottom: 10px;
}

.custom-list-item .fw-bold {
  color: #6a1b9a;
}

.custom-badge {
  background-color: #ab47bc;
  color: white;
}

.custom-card-text {
  font-family: 'Verdana', sans-serif;
  font-size: 14px;
  color: #6a1b9a;
}

#Hubungi {
  background-color: #2E236C;
}
/* form */
.contact-form {
    background: #ffffff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 50px auto;
  }
  .contact-form h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
  }
  .form-control {
    border-radius: 5px;
    border: 1px solid #ced4da;
    box-shadow: none;
  }
  .form-control:focus {
    border-color: #80bdff;
    box-shadow: 0 0 5px rgba(128, 189, 255, 0.5);
  }
  .btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .btn-primary:hover {
    background-color: #2E236C;
    border-color: #2E236C;
  }

  /* footer */
  .footer {
    background-color: #ffff;
    color: black;
    padding: 40px 0;
  }
  .footer a {
    color: black;
    text-decoration: none;
  }
  .footer a:hover {
    color: #adb5bd;
  }
  .social-icons{
    color: black;
  }
  .social-icons a {
    margin: 0 10px;
    color: black;
    font-size: 20px;
  }
  .social-icons a:hover {
    color: white;
  }